.navbar {
    background-color: var(--accent);
    border-bottom: 1px solid var(--background);
    position: sticky;
    top: 0;
    z-index: 50;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    width: auto;
    cursor: pointer;
}


.logo-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

